*{
    margin: 0;
    padding: 0;
    font-family: 楷体;
}
html{
    height: 100%;
    font-size: 1.1em;
}
body{
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
}
.container {
    padding: 10px 10px;
    position: relative;
    width: 750px;
    min-height: calc(100% - 243px);
    margin: 10px auto;
    font-size: 1em !important;
    background-color: #f5f5f5;
    border-radius: 20px;
}
.create{
    position: absolute;
    right: 50px;
    top: 50px;
}
.btn1{
    width: 100px;
    height: 30px;
    border-radius: 1.5em/1em;
    border: 2px solid gray;
    background-color: rgb(8, 26, 43);
    outline: none;
    color: white;
    font-size: 1.05em;
}
.btn1:hover{
    opacity: 0.8;
    cursor: pointer;
}
.btn1:active{
    box-shadow: inset 3em 3em 3em rgba(187, 241, 230, 0.15),inset -3em -3em 3em rgba(196, 238, 229, 0.15);
}

.selfcreated_playlist{
        margin-top:100px;
        width: 800px;
        
}
.collection_playlist{
    margin-top: 100px;
    width: 800px;
}
.hr{
    margin-top: 100px;
    width: 620px;
    border-top: 1px solid gray;
}
caption{
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 5px;
}
td{
    height: 35px;
    color: black;
}
td:nth-child(1){
    width: 50px;
}

a {
    color: black;
}

.playlist_main td{
    height: 20px;
}
td:nth-child(2){
    width: 260px;
}
td:nth-child(3){
    width: 180px;
}
td:nth-child(4){
    width: 100px;
}
td:nth-child(5){
    width: 100px;
}
td:nth-child(5) a{
color: black;
}
table{
    border: none;
}